@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-fh-primary: #ff6a1a;
  --color-fh-block: #212337;
  --color-fh-green: #749b3f;
  --color-fh-gray-100: #737373;
  --color-fh-gray-80: #a6a6a6;
  --color-fh-gray-50: #d9d9d9;
  --color-fh-gray-20: #e4e8de;
  --color-fh-gray-10: #f4f6f6;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #749b3f;
}

/* sticky navbar  */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation-duration: 0.7s;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
  z-index: 999;
  border-bottom: 1px solid #ccc;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
